*.class

# Package Files #
*.jar
*.war
*.ear

*.swp
*.swo

# allow gradle-wrapper into repo
!/gradle/wrapper/gradle-wrapper.jar
# exclude .gradle working directory
.gradle

build/classes
build/dependency-cache
build/libs
build/poms
build/tmp



buildSrc/build
.classpath
.project
.settings
.springbeans
*.iml
*.ipr
bin
creds
